@page
@model HousePlants.Pages.Plants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.CommonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.CommonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.LatinName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.LatinName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.AquiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.AquiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plant.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
