@page
@model HousePlants.Pages.Plants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div>Number of families: @Model.NumberOfFamilies</div>
<div>Number of genuses: @Model.NumberOfGenuses</div>
<div>Number of species: @Model.NumberOfSpecies</div>
<div>Number of plants: @Model.NumberOfPlants</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].AquiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AquiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
